/* 1) Make the main headline dark green. */
h1 {
    color: darkgreen;
    
}

/*created this class to complete the request. I could add h1 and h2 together below */
.centerText {
    text-align: center;
}

/*
2) Use the font family "Georgia" for the main headline and the sub-headline.
3) Center the text of the main headline and the sub-headline */

h2 {
    font-family: Georgia;
    text-align: center;
}

/*Give the paragraphs a line height of 25 pixels.*/ 

p {
   line-height: 25px;   
}

/*
5) Remove the underline from the links.
7) Make an underline appear when you hover over a link. 
*/
a {
    text-decoration: none;
}

a:hover {
   text-decoration:underline;
}

/* 
6) Make the "You might also like" label all uppercase. */

#allUppercase{
   text-transform: uppercase;
}

/*
8) Challenge #1: Make the image 'float' to the left of the body content. */ 

img {
float: left;
width: 370px;
margin-right: 15px;
}