* {
margin: 0;
padding: 0;
font-family: 'Libre Baskerville', serif;
font-family: 'Newsreader', serif;
box-sizing: border-box;

}

nav {
position: fixed;
top: 0px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
font-size: 25px;
height: 80px;
background-color: #bebebe;
}


h5 {
width: 100%;
text-align: center;
}

.logo {
cursor: pointer;
height: 80px;
}

nav > a, img
nav > a:visited,
nav > a:active {
color: blue;
text-decoration: none;
}



main, section {
width: 95%;
margin: 100px auto;    
display: grid;
grid-template-columns: 1fr;
gap: 20px;   
}

.newsbox {
width: 100%;
text-align: center;
font-size: 26px;
font-weight: bold;
color: blue;
}

.newsbox:hover:hover{
color: red;
}

.newsbox img, .mainnewbox img {
width: 100%;
object-fit: cover;
overflow: hidden;
margin: 10px;
max-height: 275px;
}

.mainnewbox {
width: 100%;
text-align: center;
font-size: 26px;
font-weight: bold;
grid-row: 1 / 2;
}

.happNow{
color: red;
}

.hapNow, .awarded,
.sports
{
color: blue;
}

.sports:hover 
{
color: red;
}

                                    /* mobile 768*/
@media screen and (min-width: 768px) {
main, section {
grid-column: 1 / -1;  
grid-template-columns: 1fr 1fr;
gap: 20px;
}

nav:hover{
color: red;
}
.mainnewbox {
grid-column: 1 / -1;   
grid-row: 1 / 2;
}

.newsbox img, .mainnewbox img {
max-height: 220px;
}

}
                                        /* tablet 1366*/
@media screen and (min-width: 1366px) {
main, section {
grid-column: 1 / -1;  
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: repeat(2, 1fr);
gap: 20px;
}
.mainnewbox {
grid-column: 2 / 3;   
grid-row: 1 / -1;
align-self: center;
justify-self: center;
}

.mainnewboximg {
min-height: 400px;
}

.newsbox img, .mainnewbox img {
max-height:none;
cursor: pointer;
}

}    

footer 
{
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: start;
font-size: 25px;
height: 250px;


background-color: #bebebe;
}

footer > a{
    text-decoration: none;
   margin-top: 30px;
   margin-left: 20px;
   color: blue;
}

a:hover {
    color: red;
}

.copyright {
    color: blue;
    font-size: 10px;
}
.copyright {
    color: blue;
    font-size: 20px;
}

                                        /* desk 1366*/
@media screen and (min-width: 3000px) 
{

main
{
grid-column: 1 / 4;  
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: repeat(6, 1fr);
gap: 20px;
}

}
